<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml" />

    <springProperty scope="context" name="LOGSTASH_HOST" source="heimdall.elk.host" defaultValue="localhost"/>
    <springProperty scope="context" name="LOGSTASH_PORT" source="heimdall.elk.port" defaultValue="5044"/>

    <appender name="LOGSTASH" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
        <destination>${LOGSTASH_HOST}:${LOGSTASH_PORT}</destination>
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <mdc/>
            <includeCallerData>false</includeCallerData>
            <!-- Default providers for timestamp, message, logger, thread, level, stacktrace etc. are active -->
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="LOGSTASH" />
    </root>
</configuration>
